
<%= render "devise/shared/error_messages", resource: resource %>

<div class="sign_up">
  <h2>新規会員登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<br>
    <div class="container">
      <div class="row">

        <div class="col-4">
          名前
        </div>

        <div class="col-8">
          <%= f.text_field :name %>
        </div>

        <div class="col-4">
          フリガナ
        </div>

        <div class="col-8">
          <%= f.text_field :kana_name %>
        </div>

        <div class="col-4">
          アカウント名
        </div>

        <div class="col-8">
          <%= f.text_field :account_name %>
        </div>

        <div class="col-4">
          電話
        </div>

        <div class="col-8">
          <%= f.text_field :phone_number %>
        </div>

        <div class="col-4">
          メールアドレス
        </div>

        <div class="col-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="col-4">
          パスワード
        </div>

        <div class="col-8">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="col-6">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>

        <div class="col-6">
        </div>

        <div class="col-4">
          <%= f.label :password_confirmation %><br />
        </div>

        <div class="col-8">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<%= f.submit "会員登録" %>
        </div>
          <% end %>

        <div class="col-12">
           <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
</div>
