<div class="row-user">
	<div class="col-3">
		<h2>User info</h2>
		<%= attachment_image_tag current_user, :image, size: '100x100', fallback: "no_image.jpg" %>
			<table class="table">
	            <tbody>
	              <tr>
	                <th><%= @user.account_name %></th>
	              </tr>
	              <tr>
	                <th>自己紹介</th>
	                <th><%= @user.introduction %></th>
	              </tr>
	            </tbody>
	        </table>
	        <%=link_to "ユーザー編集",edit_user_path(current_user) %>

	</div>
	<h2>お気に入り</h2>
<!--タブメニュー-->
	<div class="col-6">
		<div>
		  <ul class="nav nav-tabs" role="tablist">
		    <li class="active" role="presentation">
		      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">画像</a>
		    </li>
		    
		    <li role="presentation">
		      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">動画</a>
		    </li>
		  </ul>
		
			<div class="tab-content">
			    <div class="tab-pane active" id="tab_a" role="tabpanel">
				      <% @user.images.each do |image| %>
							   <%= link_to image_path(image.id) do %>
							    <%= attachment_image_tag image,:image, height: '240', width: '240', class: "profile-thumb", fallback: "no_image.jpg" %>
							   <% end %>
		        <% end %>
		        <%= paginate @image_pages %>
				</div>
			    
			    <div class="tab-pane" id="tab_b" role="tabpanel">
			      	<% @videos.each do |video| %>
		    		    <% if video.thumbnail.present? %>
		        		    <%= link_to video_path(video.id) do %>
		        		     <%= image_tag video.thumbnail.url, height: '240', width: '240' %>
		        		    <% end %>
		    		    <% end %>
		    		<% end %>
		    		<%= paginate @video_pages %>
			    </div>
			    
			</div>
		</div>
	</div>

	<div class="col-3">
	</div>
</div>