<!DOCTYPE html>
<html>
  <head>
    <title>Creators</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
          <nav  class='nav navbar-left'>
            <%= link_to "Creators", root_path %>
          </nav>

          <nav>
            <ul class='nav navbar-nav navbar-right'>
              <!--ユーザーがログインしている時-->
              <% if user_signed_in? %>
                <li>
                  <%= link_to "マイページ", users_path %>
                </li>

                <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
  
              <!--ユーザーがログインしてない時-->
              <% else %>
                <li>
                  <%= link_to "会員登録", new_user_registration_path %>
                </li>
  
                <li>
                  <%= link_to "ログイン", new_user_session_path %> 
                </li>
              <% end %>
            </ul>
          </nav>
    </header>
    <div class="container">
    <%= yield %>
    </div>

    <footer>
      <div class="footer">
        <p>©︎Creators</p>
      </div>
    </footer>
  </body>
</html>
